# application settings
fastup_secret_key=your_secret_key_here
fastup_log_level=debug
fastup_debug=true
fastup_title=fastup
fastup_version=1.0.0

# server settings
fastup_host=127.0.0.1
fastup_port=8000
